figure {
  margin: 0;
  padding: 0;
}
.dropcap:first-letter {
  font-size: 3rem;
  line-height: .9em;
  margin-right: .125rem;
  display: block;
  float: left;
}
.dinkus {
  text-align: center;
  padding: 1rem;
}
.dinkus span {
  vertical-align: sub;
}
details {
  margin-top: 10px;
}
summary {
  font-family: "SF Pro", "Helvetica Neue", "Segoe UI", "Arial";
  cursor: pointer;
}
.scrollCaptionedFigure {
  display: block;
  break-inside: avoid;
  text-align: center;
}
.scrollCaptionedFigure img {
  max-width: 100%;
  height: auto;
  margin-top: .1875rem;
}
.scrollCaptionedFigure figcaption {
  font-family: "SF Pro", "Helvetica Neue", "Segoe UI", "Arial";
  font-size: .8rem;
}
.scrollCaptionedFigure figcaption .scrollParagraph {
  margin-top: 0;
}
.scrollCodeBlock {
  overflow: auto;
  font-size: .8rem;
  hyphens: none;
  white-space: pre;
  break-inside: avoid;
  display: block;
  margin: .5rem 0;
  padding: .5rem;
  border-radius: 0;
  position: relative;
}
.scrollCodeBlock:hover .scrollCopyButton {
  opacity: .5;
}
.scrollCodeBlock:hover .scrollCopyButton:hover {
  opacity: .8;
}
.scrollCodeBlock:hover .scrollCopyButton:active {
  opacity: 1;
}
.scrollCopyButton {
  position: absolute;
  top: .125rem;
  right: .125rem;
  font-size: .875rem;
  cursor: pointer;
  opacity: 0;
}
.scrollCopyButton::after {
  content: "[ ]";
}
.scrollCopiedButton::after {
  content: "[✓]";
}
html,body,div,span,p,ol,ul,li,table,figure {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  border-spacing: 0;
}
ol,ul {
  padding-left: 1rem;
}
li {
  margin-top: .4rem;
  line-height: 1.4;
}
a {
  text-decoration-color: transparent;
}
a:hover {
  text-decoration-color: initial;
}
sup,sub {
  vertical-align: baseline;
  position: relative;
  top: -.375rem;
}
sub {
  top: .375rem;
}
html {
  padding: .25rem;
  background-color: rgb(244,244,244);
  font-family: Exchange,Georgia,serif;
  color: #000;
  font-size: var(--base-font-size, 16px);
  hyphens: auto;
}
p {
  margin-top: .4rem;
  line-height: 1.4rem;
}
.scrollQuote {
  break-inside: avoid;
  display: block;
  margin: .5rem 0;
  padding: .5rem;
  background: rgba(204,204,204,.5);
  white-space: pre-line;
  border-left: .5rem solid rgba(204,204,204,.8);
}
code {
  font-size: .9rem;
  background-color: rgba(204,204,204,.5);
  padding: .125rem .25rem;
  border-radius: .25rem;
}
.scrollParagraph {
  text-align: justify;
}
center .scrollParagraph {
  text-align: center;
}
.scrollColumns {
  column-count: auto;
  column-fill: balance;
  column-width: 35ch;
  column-gap: 1.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin: auto;
}
.scrollSnippetContainer {
  padding: 1ch 0;
  break-inside: avoid;
  text-align: justify;
}
h1,h2,h3,h4 {
  margin: .625rem 0;
}
h1 {
  font-size: 1.25rem;
}
h2 {
  font-size: 1.125rem;
}
h3,h4 {
  font-size: 1rem;
}
h1.scrollTitle {
  text-align: center;
  margin: auto;
  margin-bottom: .15625rem;
  margin-top: 0;
  font-size: 1.75rem;
  max-width: calc(100vw - 2 * (1.5625rem + 1.875rem));
}
h1.scrollTitle a {
  color: #000;
}
.scrollDateline {
  font-style: italic;
  line-height: 1.4rem;
  font-size: .75rem;
}
.scrollSection {
  break-inside: avoid;
}
.scrollSection h1,.scrollSection h2,.scrollSection h3,.scrollSection h4 {
  text-align: center;
}
h4.scrollQuestion {
  text-align: left;
  margin: 1.4rem 0 0 0;
}
.scrollSection:first-child h1,.scrollSection:first-child h2,.scrollSection:first-child h3,.scrollSection:first-child h4 {
  margin-top: 0;
}
.scrollSection:first-child h4.scrollQuestion {
  margin-top: 0;
}
.scrollNoteLink {
  opacity: .4;
  text-decoration: none;
}
.scrollNoteLink:hover {
  opacity: 1;
}
.scrollFootNoteUsageLink {
  opacity: .7;
  text-decoration: none;
}
.scrollFootNoteUsageLink:hover {
  opacity: 1;
}
.scrollHoverNote {
  text-decoration: underline dashed 1px rgba(0,0,0,.1);
  cursor: default;
}
.scrollCodeBlock {
  border-left: .5rem solid rgba(204,204,204,.8);
}
.scrollTable {
  table-layout: fixed;
  font-family: "SF Pro", "Helvetica Neue", "Segoe UI", "Arial";
  margin: .5rem 0;
  overflow: hidden;
  font-size: .8rem;
  width: 100%;
  hyphens: none;
  border: 1px solid rgba(224,224,224,.8);
}
.scrollTable td,.scrollTable th {
  padding: .1875rem;
  overflow: hidden;
  white-space: nowrap;
}
.scrollTable th {
  text-transform: capitalize;
  border-bottom: 2px solid rgba(0,0,0,.6);
  text-align: left;
}
.scrollTable td {
  cursor: zoom-in;
}
.scrollTable tr:nth-child(even) {
  background: rgba(224,224,224,.6);
}
.scrollTable.expandedTable {
  table-layout: unset;
  background: white;
  position: relative;
  z-index: 10;
  overflow: unset;
}
.scrollTable.expandedTable td,.scrollTable.expandedTable th {
  overflow: unset;
  white-space: unset;
}
.scrollTable.expandedTable td {
  cursor: zoom-out;
}
.scrollByLine {
  font-size: .875rem;
  font-style: italic;
  margin: .25rem 0;
  text-align: center;
}
.scrollViewSourceBadge {
  text-align: right;
  position: absolute;
  display: block;
  right: 20px;
  top: 8px;
}
.scrollViewSourceBadge svg {
  width: 24px;
  height: 24px;
  fill: rgba(204,204,204,0.8);
}
.scrollViewSourceBadge svg:hover {
  fill: #333;
}
.scrollViewSource {
  text-align: center;
  font-family: Verdana;
  font-weight: 100;
}
.scrollViewSource a {
  color: rgba(204,204,204,.5);
}
.scrollViewSource a:hover {
  color: #333;
}
.scrollContinueReadingLink {
  display: block;
  text-align: center;
}
.scrollDashboard {
  width: 100%;
  font-size: 1.875rem;
  text-align: center;
  font-weight: bold;
  break-inside: avoid;
  margin-top: .5rem;
  margin-bottom: .5rem;
}
.scrollDashboard td {
  width: 33.3%;
  border: 1px solid #e8e8e8;
}
.scrollDashboard span {
  font-size: 1.25rem;
  display: block;
}
.scrollChat span {
  font-family: Verdana;
  margin-top: .3125rem;
  padding: .3125rem 1.25rem;
  border-radius: .9375rem;
  display: inline-block;
}
.scrollChatLeft span {
  background: rgba(204,204,204, .5);
}
.scrollChatRight span {
  color: white;
  background: rgb(0,132,255);
}
.scrollYouTubeHolder {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}
.scrollYouTubeEmbed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}