body {
  font-family: Helvetica;
}
.exampleCodeHeader {
  font-size: 80%;
  text-align: center;
  background: rgba(224, 224, 224, 0.4);
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-bottom: 0;
  margin-bottom: -7px;
  padding: 4px 2px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.pldbHeader {
  padding: 8px;
  padding-left: 20px;
  margin-bottom: 10px;
}
.pldbHeader a {
  color: black;
  margin-right: 5px;
  font-size: 16px;
}
.languageSection {
  border: 1px solid black;
  padding: 5px;
  break-inside: avoid;
}
.logoFont {
  font-weight: bold;
  font-family: Tahoma, Arial;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.pldbHeader a:hover,
.pldbFooter a:hover {
  color: black;
}
.gitHubTopRightLinkComponent {
  text-align: right;
  position: absolute;
  display: block;
  right: 20px;
  top: 8px;
}
.gitHubTopRightLinkComponent svg {
  width: 26px;
  fill: rgba(204, 204, 204, 0.5);
}
.gitHubTopRightLinkComponent svg:hover {
  fill: #333;
}
.scrollPage {
  margin: 0;
}
.pldbFooter {
  margin-top: 18px;
  padding: 8px;
  padding-left: 20px;
  color: #828282;
}
.pldbFooter a {
  color: #828282;
}
#searchBox {
  border: 0;
  background: transparent;
  font-size: 16px;
  line-height: 1.5;
}

.autocomplete {
  background: #fff;
  z-index: 1000;
  font-size: 14px/22px;
  overflow: auto;
  box-sizing: border-box;
  border: 1px solid rgba(50, 50, 50, 0.6);
}
.autocomplete * {
  font: inherit;
}
.autocomplete > div {
  padding: 3px 4px;
}
.autocomplete .group {
  background: #eee;
}
.autocomplete > div.selected,
.autocomplete > div:hover:not(.group) {
  background: #e3e3e3;
  cursor: pointer;
}

.scrollSingleArticleTitle {
  font-size: 36px;
}

.kpiTable {
  width: 100%;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  break-inside: avoid;
  margin-top: 8px;
  margin-bottom: 8px;
}
.kpiTable td {
  width: 33.3%;
  border: 1px solid #e8e8e8;
}
.kpiTable span {
  font-size: 20px;
  display: block;
}
.scrollTableComponent {
  table-layout: auto;
}
.scrollTableComponent pre {
  max-width: 80ch;
  overflow: auto;
}
.scrollCodeBlockComponent {
  border: 1px solid rgba(204, 204, 204, 0.8);
  border-radius: 3px;
  max-height: 50ch;
}
.dataTable th {
  cursor: pointer;
}
.dataTables_filter {
  float: right;
  text-align: right;
  margin-top: 8px;
  margin-bottom: 8px;
}

.scrollAuthor {
  font-size: 12px;
  font-style: italic;
  margin: 4px 0;
  text-align: center;
}

.citationSection {
  font-size: 10px;
}
.citationSection h4 {
  text-align: center;
}

.scrollCiteComponent {
  overflow: scroll;
  margin: 6px 0;
}

#monacoContainer {
  display: block;
  height: 10em;
  border: 1px solid grey;
  margin-top: 8px;
}
